* {
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #ff6b6b;
  color: #ff1616;
  font-family: 'Cagliostro', sans-serif;
  margin: 0;
  padding: 10px 50px 50px 50px;
}

h1, h2 {
  margin: 0;
}

header h1 {
  font-size: 5rem;
  user-select: none;
  text-shadow: 10px 10px 5px rgba(0,0,0,0.12);
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#logoImg {
  padding-right: 10px;
  pointer-events: none;
  user-select: none;
}

.menu {
  background-color: #ff1616;
  display: flex;
  justify-content: center;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.12);
}

.menu a {
  display: block;
  padding: 12px;
  color: white;
  text-decoration: none;
  transition: background-color 0.5s;
}

.menu a:hover {
  background-color: white;
  color: #ff1616;
}

.coluna-esquerda {
  float: left;
  width: 75%;
}

.coluna-direita {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.12);
  border-radius: 2px;
}

.lastCard {
  margin-bottom: 100px;
}

#promocaoBanner {
  height: 200px;
  background-image: url('images/mousse.png');
  background-size: 100%;
  color: white;
  font-size: 1vw;
  position: relative;
  text-shadow: 2px 2px 2px #ff1616;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

#promocaoBanner:hover {
  box-shadow: 10px 10px 16px #ff1616;
}

#promocaoValor {
  position: absolute;
  bottom: 20px;
  right: 22px;
}

#link-promocao {
    text-decoration: none;
}

.sobreImg {
  height: 75px;
  border-radius: 50%;
  margin: 10px;
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px 5px #ff1616;
  cursor: pointer;
}

#flavio {
  text-align: center
}

.sobreImg:hover {
  box-shadow: 5px 5px 10px #ff1616;
}

.sobreItens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sobreNos {
  font-size: 1vw;
  position: relative;
  text-shadow: 4px 4px 5px lightgray;
  transition: box-shadow 0.5s;
}

#sobreNos:hover {
  box-shadow: 10px 10px 16px #ff1616;
}

.sobreTexto a {
  color: #ff1616;
}

.promo {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1vw;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.promo:hover {
  box-shadow: 0px 0px 20px #ff1616;
}

.promo img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}


#promocoes {
  transition: box-shadow 0.5s;
  font-size: 1vw;
  position: relative;
  text-shadow: 4px 4px 5px lightgray;
  transition: box-shadow 0.5s;
}

#promocoes:hover {
  box-shadow: 10px 10px 16px #ff1616;
  
}

#redesSociais {
  transition: box-shadow 0.5s;
  font-size: 1vw;
  position: relative;
  text-shadow: 4px 4px 5px lightgray;
  transition: box-shadow 0.5s;
}

#redesSociais:hover {
  box-shadow: 10px 10px 16px #ff1616; 
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social img {
  margin: 5px;
  transition: opacity 0.3s;
}

.social img:hover {
  opacity: 0.75;
}

#promocaoH1 {
  text-decoration:none;
}

.produto img {
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ff1616;
  cursor: pointer;
  margin-top: 5px;
}

.produto {
  text-align: center;
  margin: 10px;
  transition: box-shadow 0.3s;
  font-size: 20px;
  padding: 10px;
}

.produto:hover {
  box-shadow: 10px 10px 16px #ff1616;
}

.produto p {
  margin: 0;
}

.tituloProduto {
  font-weight: bold;
}

#variados {
  font-size: 1.5vw;
  position: relative;
  text-shadow: 4px 4px 5px lightgray;
  transition: box-shadow 0.5s;
}

#variados:hover {
  box-shadow: 10px 10px 16px #ff1616;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

#maisVendidos {
  font-size: 1.5vw;
  position: relative;
  text-shadow: 4px 4px 5px lightgray;
  transition: box-shadow 0.5s;  
}

#maisVendidos:hover {
  box-shadow: 10px 10px 16px #ff1616;
}

.miniGrid {
  height: 270px;
  overflow: hidden;
  padding: 15px;
}

#entrega {
  position: fixed;
  bottom: 5px;
  right: 10px;
  height: 100px;
  width: 300px;
}

#entrega img {
  position: absolute;
  right: 10px;
  width: 75px;
  border-radius: 50%; 
}

#entregaifood {
  position: fixed;
  bottom: 100px;
  right: 10px;
  height: 100px;
  width: 300px;
}

#entregaifood img {
  position: absolute;
  right: 10px;
  width: 75px;
  border-radius: 50%; 
}

#tel {
  height: 60px;
  position: absolute;
  background-color: #54cf54	;
  color: white;
  margin-top: 10px;
  padding: 10px;
  left: 16px;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

#entrega img:hover + #tel {
  opacity: 1;
}

#tel p {
  margin: 0;
}

#telifood {
  height: 40px;
  position: absolute;
  background-color: red	;
  color: white;
  margin-top: 18px;
  padding: 10px;
  left: 3px;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.3s;
}

#entregaifood img:hover + #telifood {
  opacity: 1;
}

#telifood p {
  margin: 0;
}

.sobre {
  text-shadow: 4px 4px 5px lightgray;
  transition: box-shadow 0.5s;
}

.sobre:hover {
  box-shadow: 10px 10px 16px #ff1616;
}

@media screen and (max-width: 800px) {

  body{
    padding: 5px 25px 25px 25px;
  }
  
  .coluna-esquerda {
    width: 100%;
  }

  .coluna-direita {
    width: 100%;
    padding-left: 0;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  #logoImg {
   width: 75px;
  }

  #promocaoBanner {
    font-size: 4vw;
    margin-top: 0;
  }

  .promo {
    font-size: 3vw;
  }
  #sobreNos {
    font-size: 3vw;
  }

  h2 {
    font-size: 3vw;
  }
  
  .mapa {
    display: none;
  }
  
}

@media screen and (max-width: 450px) {
  
  h1, h2 {
    font-size: 4.5vw;
  }

  .menu {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mapa {
    display: none;
  }
  
}

.qr {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}